@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Open+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Open Sans, sans-serif;
    font-weight: 300;
    color: #7070770;
}

/* headings and logo */

h1, h2 {
    font-family: montserrat, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: darkslateblue;
}

/* navigation links */

#menu {
    font-size: 110%;
    letter-spacing: 4px;
}

#menu, #logo {
    line-height: 70px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 40px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #616161;
}

.active {
    border-bottom: 1px solid #616161;
}

#logo {
    float: left;
    font-size: 300%;
}

/* header-image */

#header-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
}

#header-image {
    height: 600px;
    width: 100%;
    background: url('../images/pexels-photo-3838381.webp') no-repeat center center;
    background-size: cover;
}

