@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Open+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Montserrat, sans-serif;
    font-weight: 300;
    color: #707070;
}

/* headings and logo */

h1 {
    font-family: Open Sans, sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #004c99;
}

h2 {
    font-family: Open Sans, sans-serif;
    text-transform: capitalize;
    letter-spacing: 4px;
    color: #004c99;
}

#logo {
    float: left;
    font-size: 50px;
    line-height: 75px;
    margin-left: 40px;
    height: 100px;
}

/* navigation links */

#menu {
    font-size: 18px;
    letter-spacing: 2px;
    line-height: 75px;
    height: 100px;

}

#menu li {
    float: right;
    list-style-type: disc;
    margin-right: 20px;
}

#menu a {
    text-decoration: none;
    color: #707070;
}

#menu a:hover {
    border-bottom: 2px solid #707070;
}

.active {
    border-bottom: 2px solid #707070;
}

/* hero-image and cover text*/

#hero-outer {
    height: 500px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-image {
    height: 450px;
    width: 100%;
    background: url('../images/personal-trainer.jpeg') no-repeat center center;
    background-size: cover;
}

#cover-text {
    font-size: 20px;
    font-family: Open Sans, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: left;
    color: #ffffff;

    width: 300px;
    height: 100px;

    padding-top: 20px;
    padding-left: 20px;

    background-color: rgba(0, 76, 153);

    top: 30px;
    left: 50px;

    position: absolute;
}

/* About Section */

#about {
    height: 600px;

}

#left-about {
    padding-top: 30px;
    width: 40%;
    float: left;
}

#right-about {
    padding-top: 30px;
    width: 40%;
    float: right;
}


hr {
    border-top: 1px solid #707070;
    width: 100%;
    margin: 5px 0;
}

.left-about-heading {
    width: 70%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.right-about-heading {
    width: 70%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.right-about-heading h2 {
    text-align: left;
}

.right-about-heading p {
    text-align: left;
}

#about-heading {
    text-align: center;
    margin: 20px 0;
    font-size: 270%;
}

/* Contact details & Google map section*/

#parent {
    display: flex;
    height: 350%;
  }

  #narrow {
    width: 50%;
    float: left;
  }

  #wide {
    width: 50%;
    float: right;
    flex: 1;
  }

/* footer */

footer {
    height: 120%;
}

.social-media {
    text-align: center;
    background-color: lightgrey;
}

.social-media>li {
    display: inline;
}

.social-media i {
    font-size: 180%;
    margin: 15px;
    padding: 25px;
    color: #004c99;
}

/* media queries */

/* For larger to medium screens size from 1200px wide and down */

@media screen and (max-width: 1200px) {
    #about {
        width: 60%;
        height: 1200px;
        margin: 0 auto;
    }

    #welcome {
        padding: 30px 0;
        margin: 0;
    }

    #left-about,
    #right-about {
        width: 100%;
        float: left;
        padding: 0;
    }

    #center-about {
        clear: both;
        width: 100%;
        float: left;
        padding: 0;
    }

    #times>div {
        width: 100%;
        clear: both;
        height: 150px;
        padding: 0;
    }

}

/* For medium screen sizes from 900px wide and down */
@media screen and (max-width: 900px) {

    #menu {
        clear: left;
        float: left;
        margin-left: 30px;
        margin-bottom: 20px;
        line-height: 25px;
    }

    #cover-text {
        left: 0;
    }

    #about {
        width: 90%;
        height: 1200px;
        margin: 0 auto;
    }

    .left-about-heading,
    .right-about-heading {
        width: inherit;
    }

    .left-about-heading h2,
    .right-about-heading h2 {
        width: 100%;
        text-align: center;
    }

    .left-about-heading p,
    .right-about-heading p {
        text-align: center;
        padding: 0 20px;
    }

    #photos {
        column-count: 2;
    }

}

/* For small screen sizes 650px and down */

@media screen and (max-width: 700px) {
    #menu {
        clear: left;
        float: left;
        margin-left: 30px;
        margin-bottom: 20px;
        line-height: 25px;
    }

    #cover-text {
        left: 0;
    }

    #about {
        width: 100%;
        height: 1200px;
        margin: 0 auto;
    }

    .left-about-heading,
    .right-about-heading {
        width: inherit;
    }

    .left-about-heading h2,
    .right-about-heading h2 {
        width: 100%;
        text-align: center;
    }

    .left-about-heading p,
    .right-about-heading p {
        text-align: center;
        padding: 0 20px;
    }

    #photos {
        column-count: 1;
    }
}

/* For medium screen sizes from 400px wide and down */
@media screen and (max-width: 400px) {

    #menu {
        clear: left;
        float: left;
        margin-left: 30px;
        margin-bottom: 20px;
        line-height: 25px;
    }

    #cover-text {
        left: 0;
    }

    #about {
        width: 90%;
        height: 1100px;
        margin: 0 auto;
    }

    .left-about-heading,
    .right-about-heading {
        width: inherit;
    }

    .left-about-heading h2,
    .right-about-heading h2 {
        width: 100%;
        text-align: center;
    }

    .left-about-heading p,
    .right-about-heading p {
        text-align: center;
        padding: 0 20px;
    }

    #photos {
        column-count: 1;
    }
}


/* Meet Eli Section */

#meet-eli {
    margin: 0 auto;
    text-align: center;
    display: block;
}

#eli-about{
    padding-top: 30px;
    width: 40%;
    text-align: left;
    margin-left: 250px;
}

/* Contact */

#contact {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    padding: 1rem;
    border-radius: 4px;
}

#contact>input[type=text],
#contact>input[type=email],
#contact>select,
#contact>textarea {
    width: 100%;
    padding: 12px;
    border: 2px solid #707070;
    border-radius: 2px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

#contact>input[type=submit]:hover {
    background-color: lightskyblue;
}


/* Pricing section */

* {
    box-sizing: border-box;
}

.column {
    float: left;
    width: 33.33%;
    padding: 10px;
    height: 500px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}