@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Open+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Montserrat, sans-serif;
    font-weight: 300;
    color: #707070;
}

/* headings and logo */

h1, h2 {
    font-family: Open Sans, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #004c99;
}

h4 {
    font-family: Open Sans, sans-serif;
    text-transform: capitalize;
    letter-spacing: 4px;
    color: #004c99;
}

#logo {
    float: left;
    font-size: 50px;
    line-height: 75px;
    display: inline-block;
}

/* navigation links */

#menu {
    line-height: 75px;
    display: inline-block;
    float: right;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #707070;
}

.active {
    border-bottom: 1px solid #707070;
}

/* navigation links */

#menu {
    font-size: 110%;
    letter-spacing: 4px;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #707070;
}

.active {
    border-bottom: 1px solid #707070;
}

/* hero-image and cover text*/

#hero-outer {
    height: 100%;
    width: 100%;
    overflow: hidden;

    position: relative;
}

#cover-text,
cover-text h2 {
    color: #fff;
}

#hero-image {
    height: 450px;
    width: 100%;
    background: url('../images/personal-trainer.jpeg') no-repeat center center;
    background-size: cover;
}

#cover-text {
    font-size: 120%;
    font-family: Open Sans, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: left;

    width: 300px;
    height: 100px;

    padding-top: 30px;
    padding-left: 20px;

    background-color: rgba(0, 76, 153);

    top: 30px;
    left: 50px;

    position: absolute;
}

/* About Section */

#about {
    width: 100%;
    display: inline-block;
}

#left-about {
    padding-top: 30px;
    width: 33%;
    float: left;
}

#right-about {
    padding-top: 30px;
    width: 33%;
    float: right;
}

hr {
    border-top: 1px solid #004c99;
    width: 100%;
    margin: 5px 0;
}

.left-about-heading {
    width: 60%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.right-about-heading {
    width: 60%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.right-about-heading h2 {
    text-align: right;
}

.right-about-heading p {
    text-align: right;
}

#welcome {
    text-align: center;
    margin: 20px 0;
    font-size: 280%;
}


/* Two equal columns that floats next to each other */

.row {
    display:inline-block; 
    width: 100%
}

.column {
    float: left;
    width: 48%;
    padding: 10px;
  }

/* footer */

.social-media {
    text-align: center;
    background-color: lightgrey;
}

.social-media > li {
    display: inline;
}

.social-media i {
    font-size: 180%;
    margin: 15px;
    padding: 25px;
    color: #004c99;
}

